<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>

<h3>My Profile</h3>
<div>
    <div th:replace="fragments/nav :: nav"></div>
    <p>First Name: <span th:text="${person.firstName}"></span></p>
    <p>Last Name: <span th:text="${person.lastName}"></span></p>
    <p>Date of Birth: <span th:text="${person.dateOfBirth}"></span></p>
    <img src="https://t4.ftcdn.net/jpg/02/15/84/43/500_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" height="200" width="200">
    <p>Biography: <span th:text="${person.bio}"/></p>
    <p>Posts:</p>
    <ul style="list-style-type:none">

        <li th:each="post : ${person.posts}" th:text="${post.body}"></li>


    </ul>
</div>
</body>
</html>